<div class="container">
        <!-- <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <button class="btn btn-primary" (click)="createOrder()">
                Crear Orden
            </button>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <button class="btn btn-primary" (click)="createOrder()">
                Crear Orden
            </button>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <button class="btn btn-primary" (click)="createOrder()">
                Crear Orden
            </button>
        </div> -->

        <form action="" [formGroup]="formGroup">
            <label for="">El producto a ordenar es: {{producto.name}}</label>
            <input type="text" hidden="true" formControlName="providerID" value="producto.providerId">{{producto.providerId}}
            <div class="input-group mb-3">
                <label for="" class="form-label input-group-text">Mounto Total</label>
                <input type="" class="form-control" id="" aria-describedby="" formControlName="totalAmount">
            </div>
            <select class="input-group form-select" aria-label="Default select example" formControlName="stateOrder">
                <option selected value="0">Estado de la orden</option>
                <option *ngFor="let stateOrder of statesOrder" [value]="stateOrder">{{stateOrder}}</option>
            </select>
            <select class="input-group form-select" aria-label="Default select example" formControlName="receivedType">
                <option selected value="0">Tipo de Recepcion</option>
                <option *ngFor="let receivedType of receivedTypes" [value]="receivedType">{{receivedType}}</option>
            </select>
            <select class="input-group form-select" aria-label="Default select example" formControlName="paymentStatu">
                <option selected value="0">Estado de pago</option>
                <option *ngFor="let paymentStatu of paymentStatus" [value]="paymentStatu">{{paymentStatu}}</option>
            </select>
            <label for="">El proveedor es: {{provider.name}}</label>
        </form>
        <button class="btn btn-primary" (click)="createOrder()">
            Crear
        </button>
</div>