<mat-toolbar class="topbar" color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <img src="assets/fruit-shop.png" alt="" class="app-logo" />
  </button>
  <span class="app-logo-text mx-16">Market Products</span>
  <button mat-flat-button class="mx-16 btn-nav" *ngFor="let item of items"
          (click)="navigateTo(item.route)">
    {{ item.name }}
  </button>
  <span fxFlex></span>
  <button mat-mini-fab color="accent" class="mx-16 btn-nav" >
    <img src="assets/programmer.png" alt="" class="icon-mini" />
  </button>
  <button mat-raised-button class="mx-16 btn-nav" >
    <img src="assets/programmer.png" alt="" class="icon" />
    Name User
  </button>
</mat-toolbar>
