
<mat-card *ngFor="let provider of providers" class="card">
  <div fxLayout="row" fxLayoutAlign=" center" class="card" style="margin-top: 10px;">
    <button mat-icon-button color="accent" aria-label="Example icon button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <span class="title-card" style="width: 20%;">
          {{provider.name}} {{provider.lastname}}
    </span>
    <span class="title-card" style="width: 20%;">
      {{provider.email}}
    </span>
    <span class="title-card" style="width: 20%;">
      {{provider.phone}}
    </span>
    <span fxFlex></span>
    <button mat-icon-button color="primary" 
            (click)="openDialogEdit(provider.id)"
            aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="primary" 
            (click)="deleteProvider(provider)"
            aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button color="primary" 
            (click)="openIn(provider)"
            aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>
</mat-card>

