<mat-grid-list cols="1" *ngIf="!product; else divProduct">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #divProduct>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" class="container">
    <div fxFlex="30">
      <h1>{{ product.name }}</h1>
      <mat-divider></mat-divider>
      <br />
    </div>

    <div fxFlex="70">
      <mat-list>
        <mat-list-item><b>Nombre:&nbsp;</b> {{ product.name }} </mat-list-item>

        <mat-list-item
          ><b>Vencimiento: &nbsp;</b> {{ product.vencimiento }}
        </mat-list-item>
      </mat-list>

      <br />
      <button mat-button color="warn" (click)="back()">Regresar</button>
    </div>
  </div>
</ng-template>
