.signup4-wrap{
  padding: 20px;
}

.signup4-container{
  padding: 20px;
}

.card-container{
  width: 400px;
}

.card-image{
  margin: 10px;
  padding-bottom: 16px;
}

.my-8 {
  margin-bottom: 8px;
  margin-top: 8px;
}

.fill-width{
  width: 90%;
}

mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}